# Ignore virtual environments
tfenv/
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.dll
*.lib
*.so
*.dylib

# Ignore model files (optional)
*.h5
*.pb
*.ckpt
*.data*
*.pt
*.onnx

# Ignore IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
